/* Reset pois por padrão todo navegador acaba adicionando margin, padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* sempre que definir um tamanho ele conta isso borda a borda*/
    font-family: 'Segoe UI', sans-serif;
}